:root {
  --pal-primary: #2c3639;
  --pal-secondary: #3f4e4f;
  --pal-tertiary: #a27b5c;
  --pal-tertiary-hover: #8a694e;
  --pal-light: #dcd7c9;
  --pal-earth: #586469;
  --pal-earth-hover: #6a6448;
}

body {
  font-family: "Lexend Deca";
  color: var(--pal-light);
}

#board {
  font-size: 40px;
  width: 500px;
  display: inline-block;
}

#msgboard {
  font-size: 20px;
  width: 350px;
  display: inline-block;
  vertical-align: top;
}

.kuli {
  font-size: 44px;
  font-family: "Finlandica";
  height: 70px;
  width: 70px;
  color: var(--pal-light);
  background-color: var(--pal-earth);
  border: 1px solid #0000;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  cursor: pointer;
}

.long {
  width: 232px;
  border-radius: 50px;
}

.path {
  background-color: #aff4;
}

.blocked {
  color: var(--pal-earth);
  background-color: #0001;
  cursor: default;
}

.start {
  background-color: #afa4;
}

.end {
  background-color: #aaf4;
}

#playButton {
  color: var(--pal-light);
  font-size: 75px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: block;
  cursor: pointer;
}

.bg-pal-primary {
  color: var(--pal-light);
  background-color: var(--pal-primary);
}

.bg-pal-secondary,
.bg-pal-secondary:hover {
  color: var(--pal-light);
  background-color: var(--pal-secondary);
  border-color: #0000;
}

.bg-pal-tertiary {
  color: #ffffff;
  background-color: var(--pal-tertiary);
}

.bg-pal-tertiary:hover {
  background-color: var(--pal-tertiary-hover);
  border-color: var(--pal-tertiary-hover);
}

.text-pal-tertiary {
  color: var(--pal-tertiary);
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: var(--pal-light);
}
