body {
  font-family: "Lexend Deca";
}

#board {
  font-size: 40px;
  width: 500px;
  display: inline-block;
}

#msgboard {
  font-size: 20px;
  width: 350px;
  display: inline-block;
  vertical-align: top;
}

.kuli {
  font-size: 44px;
  font-family: "Allerta Stencil";
  height: 70px;
  width: 70px;
  background-color: #fff1;
  border: 1px solid #0000;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  cursor: pointer;
}

.long {
  width: 232px;
  border-radius: 50px;
}

.path {
  background-color: #fff3;
}

.blocked {
  color: #000;
  background-color: #777;
  cursor: default;
}

.black {
  background-color: #0007;
}

.start {
  background-color: #afa4;
}

.end {
  background-color: #aaf4;
}

.pink {
  color: #ffffff;
  background-color: #ff008e;
  border: #d22779;
}

.pink:hover {
  background-color: #d22779;
}

#playButton {
  font-size: 75px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: block;
  cursor: pointer;
}
