body {
  margin-top: 3vh;
  color: white;
}

#board {
  width: 500px;
  font-size: 40px;
  color: white;
  display: inline-block;
  vertical-align: top;
}

#msgboard {
  font-size: 20px;
  color: white;
  width: 350px;
  display: inline-block;
  vertical-align: top;
  padding-top: 10px;
  padding-left: 20px;
}

.kuli {
  display: block;
  background-color: #fff1;
}

.kuli span {
  width: 70px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.kuli p {
  display: inline-block;
  width: 230px;
  background-color: #fff1;
  border-radius: 50px;
  height: 70px;
  border: 2px solid #0000;
}

#play1 {
  background-color: #0006;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

#play2 {
  background-color: #0006;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.kuli-path {
  background-color: #fff2;
}

.kuli-block {
  background-color: #faa5;
  color: #800;
}

#board span {
  border-radius: 50%;
  display: inline-block;
  height: 70px;
  cursor: pointer;
  border: 2px solid #0000;
}

.kuli-start {
  background-color: #afa2;
}

.kuli-end {
  background-color: #aaf2;
}

#playButton {
  cursor: pointer;
  font-size: 75px;
  margin-top: 100px;
  margin-bottom: 50px;
  display: inline-block;
}

.player {
  font-size: 20px;
  font-weight: bold;
}

.initial {
  background-color: #fff1;
}

#gameCode,
#playerInfo {
  font-size: 25px;
}

hr {
  height: 1px;
  margin: 0;
  padding: 0;
}
